<div class="about" data-reveal-group>
	<img class="about__circle lazyload" data-reveal data-reveal-transform='{"x": -80, "y": 0}' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/images/circle.svg" alt="Circle">
	<div class="container">
		<div class="about__holder">
			<div class="about__img lazyload" data-bg="assets/images/about/1.jpg" data-reveal data-reveal-delay="200">
				<img class="about__cross lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/images/about/cross.svg" data-reveal data-reveal-delay="200" data-reveal-transform='{"x": 100, "y": 0}' alt="Cross">
				<img class="about__feelings lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/images/about/feelings.svg" data-reveal data-reveal-delay="200" data-reveal-transform='{"x": 0, "y": -50}' alt="Feelings">
			</div>
			<div class="about__text" data-reveal data-reveal-delay="400">
				<h2 class="h2">О нас</h2>
				<p>
					Товарищи! укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Равным образом сложившаяся структура организации требуют от нас анализа модели развития. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу
				</p>
			</div>
		</div>
	</div>
</div> 