<div class="intro slider" data-plugin="introSlider">
	<div class="slider__holder">
		<div class="slider__item">
			<div class="intro__item lazyload" data-bg="assets/images/intro.jpg">
				<div class="container">
					<div class="intro__holder" data-reveal-group>
						<h1 class="h1" data-reveal>Сфера активности </h1>
						<p class="intro__text" data-reveal data-reveal-delay="100">
							Повседневная практика показывает, что консультация 
						</p>
						<a href="#" class="btn btn-default popup-modal" data-fancybox  data-options='{"touch" : false}' data-src="#dialog-content" data-reveal data-reveal-delay="400">Хочу пойти!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<div class="intro__item lazyload" data-bg="assets/images/intro.jpg">
				<div class="container">
					<div class="intro__holder">
						<h1 class="h1">Сфера активности </h1>
						<p class="intro__text">
							Повседневная практика показывает, что консультация 
						</p>
						<a href="#" class="btn btn-default popup-modal" data-fancybox data-options='{"touch" : false}' data-src="#dialog-content">Хочу пойти!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<div class="intro__item lazyload" data-bg="assets/images/intro.jpg">
				<div class="container">
					<div class="intro__holder">
						<h1 class="h1">Сфера активности </h1>
						<p class="intro__text">
							Повседневная практика показывает, что консультация 
						</p>
						<a href="#" class="btn btn-default popup-modal" data-fancybox data-options='{"touch" : false}' data-src="#dialog-content">Хочу пойти!</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
