{% from '../macros/icon.twig' import icon %}

<div class="ham-panel">
	<div class="ham-panel__holder">
		<nav class="ham-panel-nav">
			<ul>
				<li {% if curPage == "project" %} class="active"{% endif %}><a href="project.html">О проекте</a></li>
				<li {% if curPage == "gallery" %} class="active"{% endif %}><a href="gallery.html">Галерея</a></li>
				<li {% if curPage == "events" %} class="active"{% endif %}><a href="events.html">Мероприятия</a></li>
			</ul>
		</nav>
		<div class="ham-panel__info">
			<div class="ham-panel__phone">+375 33 213-45-24</div>
			<ul class="social">
				<li>
					<a href="#">
						{{ icon('inst' , {'width': 12, 'height': 12}) }}
					</a>
				</li>
				<li>
					<a href="#">
						{{ icon('tlg' , {'width': 12, 'height': 11}) }}
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>