{% from '../macros/icon.twig' import icon %}

<header class="header header_sticky {{ headerAttrs.class|default('') }}">
	<div class="container">
			<div class="header__holder">
				<a href="/" class="header__logo">
					{{ icon('logo' , {'width': 247, 'height': 35}) }}
				</a>
				<nav class="main-nav">
					<ul>
						<li><a href="#">Галерея</a></li>
						<li><a href="#">Мероприятия</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>                                  
				</nav>
				<div class="header__info">
					<ul class="social">
						<li>
							<a href="#">
								{{ icon('inst' , {'width': 12, 'height': 12}) }}
							</a>
						</li>
						<li>
							<a href="#">
								{{ icon('tlg' , {'width': 12, 'height': 11}) }}
							</a>
						</li>
					</ul>
					<div class="header__phone">+375 33 213-45-24</div>
				</div>
				<a href="#" class="ham-trigger">&nbsp;</a>
			</div>
	</div>
</header>

