@font-face {
    $path-font-face: '../fonts/Gilroy/Gilroy-Regular';
    font-family: 'Gilroy';
    src: local('Gilroy'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Gilroy/Gilroy-Medium';
    font-family: 'Gilroy';
    src: local('Gilroy'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Gilroy/Gilroy-Semibold';
    font-family: 'Gilroy';
    src: local('Gilroy'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    $path-font-face: '../fonts/Gilroy/Gilroy-Bold';
    font-family: 'Gilroy';
    src: local('Gilroy'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


